*{
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 40rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: groove 10px #491602d7;
  box-shadow: 0 0 10px orangered;
  margin-top: 2rem;
  font-size: 2rem;
}

#btn-generate {
  margin-top: 1rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-weight: 900;
  background-color: #adff2f;
  cursor: pointer;
}

#btn-generate:hover,
#btn-generate:focus {
  background-color: #02c4ba;
  box-shadow:0 0 10px #adff2f;
  color: #ffffff;    
} 